/*<meta />*/

@import url('stylesheet2.css');
@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/*this style sheet contain the icon styles that link to the bootstrap set of icons. 
The icons do not appear in the FLare UI, but do appear in the Flare topic preview.*/

/* 19 June removed headingx for 10,9*/
/*}*/
/*NM 22 Sept - added some pseudo-classes for links*/
/*MKH 28 Sept 2020 Removed any commented out toxt - no-one has asked for them, so they can go!*/

ol, ul
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222222;
	/*margin: 0.3em 0 0.3em 0;*/
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.5;
}

/*ul
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222222;
	margin: 0.3em 0 0.3em 0;
		line-height: 1.5;
}*/

li
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222222;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

pre
{
	font-size: 16px;
}

p,
p.bodytext,
p.breaknesting3pt
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #222222;
	margin-top: 8px;
	margin-bottom: 8px;
}

p.writerscomm
{
	color: #F79646;
	mc-conditions: 'Conditions.AWritersComm';
}

p.muted
{
	color: #808080;
	font-size: 16px;
	margin-bottom: 0em;
}

p.relatedheading
{
	font-weight: bold;
	color: #004F5D;
	margin-top: 3em;
}

p.relateditem
{
	font-style: normal;
	color: #222222;
	margin-right: 10px;
	margin-top: 6px;
}

p.bodytextindent
{
	color: #4D473F;
	margin-bottom: 0.8em;
	margin-left: 23px;
	margin-right: 23px;
}

p.procedureheading
{
	font-family: "Arial", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 17.5333px;
	color: #004F5D;
	margin-top: 0.9em;
	margin-bottom: 0.4em;
}

/*New Headings 18/4/2020*/

h1,
.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6
{
	font-family: "Arial", verdana, arial, Helvitica, sans-serif;
	font-size: 22pt;
	font-weight: 600;
	line-height: 1.5;
	margin: 0.67em 0 0 0;
}

h2,
.h2internal,
.heading7,
.heading8
{
	font-family: "Arial", verdana, arial, Helvitica, sans-serif;
	font-size: 20pt;
	font-weight: 400;
	line-height: 1.5;
	margin: 1.25em 0 0 0;
}

h3,
.h3internal
{
	font-family: "Arial", verdana, arial, Helvitica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0.83em 0 0 0;
}

h4,
.h4internal
{
	font-family: "Arial", verdana, arial, Helvitica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	margin: 1.12em 0 0 0;
}

h5,
.h5internal
{
	font-family: "Arial", verdana, arial, Helvitica, sans-serif;
	font-size: 14px;
	line-height: 1.2;
	margin: 1.12em 0 0 0;
}

h6	/*NOTE: The Madcap search engine goes down to h6 before looking through body text.*/
{
	font-family: "Arial", verdana, arial, Helvitica, sans-serif;
	font-size: 13px;
	line-height: 1.2;
	margin: 1.12em 0 0 0;
}

h7	/*same as H6*/
{
	font-family: "Arial", verdana, arial, Helvitica, sans-serif;
	font-size: 13px;
	line-height: 1.2;
	margin: 1.12em 0 0 0;
}

/*Untouched random things*/

p.subscript
{
	display: inline;
	font-size: 13px;
	color: inherit;
	background-color: inherit;
	vertical-align: sub;
}



/*Image styles*/

.embeddedolefiletemplate	/*Added to put border around author-it image style*/
{
	border: 1px, solid, #c6c0b9;
}

.linkedgraphic-agq	/*Added to put border around author-it image style*/
{
	border: 1px, solid, #c6c0b9;
}

img	/*Basic information about this selector. Useful to take images originally from a pdf and set them at 100% in the online help*/
{
	mc-thumbnail-max-height: inherit;
	mc-thumbnail-max-width: inherit;
	height: auto;
	max-width: 80%;
	page-break-before: avoid;
	border: 1px solid #256074;
}

img.Online	/*80% the width of the browser*/
{
	max-width: 80%;
	border: 1px, solid, #c6c0b9;
}

img.AbsolutePosition	/*PDF absolute position*/
{
	padding: 5px;
}

img.OneHundredPercentThumbnail	/*Print 100% max width. Online thumbnail.*/
{
	mc-thumbnail: popup;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	mc-thumbnail-max-height: 48px;
}

/*.widegraphic	remove this late 2020- there are none in use in QKC
{
	display: block;
	color: #231F20;
	margin-top: 3pt;
	margin-bottom: 6pt;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	text-indent: 0cm;
	width: auto;
	height: auto;
}*/

/*Preface*/

.prefacetitle
{
	font-family: "Arial", verdana, arial, helvetica, sans-serif;
	font-size: 25.6px;
	color: #4D848E;
	margin-top: 0.8em;
	margin-right: 20px;
}

.prefaceheadings
{
	font-family: "Arial", verdana, arial, helvetica, sans-serif;
	font-size: 17.9167px;
	color: #4D848E;
	margin-top: 0.8em;
	margin-bottom: 0.4em;
	margin-right: 20px;
}

/*Lists - bullets*/
/*Margins come from the ol, ul selectors, and not from these*/

li.listbullet1
{
	padding-left: 0px;
}

ul.listbullet1
{
	list-style-type: Disc;
	list-style-image: none;
	list-style-position: outside;
}

/*Lists - list step tasks*/

li.list1steptask	/*AQT-60225*/
{
	margin-top: 3pt;
	margin-left: -17pt;
	padding-bottom: 0.8em;
}

ul.list1steptask	/*AQT-60225*/
{
	list-style-type: disc;
	/*list-style-image: url(SingleStep2.gif); removed 25 April 2020 to clear the build warning. Reconsider what it did, and fix eventually.*/
	list-style-position: outside;
}

/*Lists - Numbered lists*/

ol.listnumber1
{
	list-style-type: Decimal;
	list-style-position: outside;
}

li.listnumber1	/*I've left  li.listnumber1 in the stylesheet.css. You don't need to use it as you'll be applying the style at the ol level 
and you don't need the li tags to add any extra information. I've left li.listnumber1 in only because there are 9000 of them and I didn't want to push my luck doing a bulk find and replace!!*/
{
	padding-bottom: 0em;
	text-align: left;
}

ol.listalpha1,
ol.listnumber2,
li.listnumber2
/*Use for the second level of ordered list within a first level of either ol or ul. You don't need to use it as you'll be applying the style 
at the ol level or li level as we use Flare standard tags for this*/
/*consider redacting*/
{
	list-style-type: Lower-Alpha;
	list-style-position: outside;
}

li.listalpha1
{
	color: #4D473F;
	background-color: inherit;
	line-height: normal;
}

/*Lists - table lists - NM says...For the table styles,
 there are some in here that I haven't checked (18/4/2020) and 
 we  should move towards using the Table Styles folder / css)
 18/5 Added to all bulleted lists in tables...
 	margin-top: 3pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	margin-right: 3pt;*/

li.tablelistbullet
{
	margin-top: 3pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	margin-right: 3pt;
}

ul.tablelistbullet
{
	list-style-type: disc;
	list-style-image: none;
	list-style-position: outside;
	margin-top: 3pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	margin-right: 3pt;
}

ol.tablelistnumber
{
	list-style-type: Decimal;
	list-style-position: outside;
	margin-top: 3pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	margin-right: 3pt;
}

li.tablelistnumber
{
	color: #4D473F;
	margin-top: 3pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	margin-right: 3pt;
}

/*Lists - List continue Not sure if ever used*/

li.listcontinue,
li.listcontinue2,
li.listcontinue3
{
	display: block;
	color: #4D473F;
	text-align: left;
}

/*do we need this for ul or ol selectors as well? At some stage consider whether we can reove these stules as Flare's inline styles seems to cope with doing these functions */
/*Lists - Other random list styles*/

ul.note-nested-bullet
{
	list-style-type: disc;
	list-style-image: none;
	list-style-position: outside;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.note-nested-bullet
{
	background-color: #e1fcff;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 20px;
	max-width: 90%;
	list-style-position: outside;
}

ul.urlhyperlinkedbullet1	/*Where used?*/
{
	list-style-type: Disc;
	list-style-image: none;
	list-style-position: outside;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li.urlhyperlinkedbullet1	/*Where used?*/
{
	color: #4D473F;
	background-color: inherit;
	padding-bottom: 0.8em;
}

/*NOTES, TIPS, AND CAUTIONS*/
/*NOTES, TIPS, AND CAUTIONS - Charachter style*/

.notechar
{
	color: #4D848E;
	font-weight: bold;
}

.cautionchar
{
	color: #4d2000;
	font-weight: bold;
}

.tipchar
{
	color: #775408;
	font-weight: bold;
}

/*NOTES, TIPS, AND CAUTIONS - Body style*/

p.note-level-1-body,
p.note-level-2-body,
p.note-level-3-body,
p.tablenote
{
	background-color: #e1fcff;
	/*border: 1px solid #e1fcff;*/
		/*margin: 0 0 0 0;*/
	border-left: 5px solid #4D848E;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0.5em 1em 0.5em 1em;
	max-width: 90%;
}

p.caution-level-1-body,
p.caution-level-2-body,
p.caution-level-3-body
{
	background-color: #ffe7d6;
	/*border: 1px solid #ffe7d6;*/
	/*margin: 0 0 0 0;*/
	border-left: 5px solid #ffa666;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0.5em 1em 0.5em 1em;
	max-width: 90%;
}

p.tip-level-1-body,
p.tip-level-2-body,
p.tip-level-3-body
{
	background-color: #FDFDDA;
	/*border: 1px solid #FDFDBE;*/
	/*margin: 0 0 0 0;*/
	border-left: 5px solid #996c0b;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0.5em 1em 0.5em 1em;
	max-width: 90%;
}

/*NOTES, TIPS, AND CAUTIONS* - Bullet styles */

ul.note-level-1-bullet,
ul.note-level-2-bullet,
ul.note-level-3-bullet	/*all bullets, and their background and bullet indent and text indent*/
{
	list-style-type: disc;
	list-style-image: none;
	list-style-position: outside;
	color: inherit;
	background-color: #e1fcff;
	border-left: 5px solid #4D848E;
	margin: -0.5em 0 0 0;
	max-width: 90%;
	padding: 0.5em 1em 0.5em 1.5em;
}

/*li.note-level-1-bullet,
li.note-level-2-bullet,
li.note-level-3-bullet	ul takes care of style. Removed 29/5/2020 But this may be the cause of the square bullets in notes - so keep for a while and check again some time
{
	
}*/

ul.tip-level-1-bullet,
ul.tip-level-2-bullet,
ul.tip-level-3-bullet	/*all bullets, and their background and bullet indent and text indent*/
{
	list-style-type: disc;
	list-style-image: none;
	list-style-position: outside;
	color: #48423C;
	background-color: #FDFDDA;
	border-left: 5px solid #996c0b;
	max-width: 90%;
	padding: 0.5em 1em 0.5em 1.5em;
	margin: -0.5em 0 0 0;
	/*keep in as this overrides something in the back end! Stops the gaps appearing between body and bullet. Acts as a reset css might act.*/
}

/*li.tip-level-1-bullet,
li.tip-level-2-bullet,
li.tip-level-3-bullet	ul takes care of style. Removed 29/5/2020 But this may be the cause of the square bullets in notes - so keep for a while and check again some time
{
	
}*/

ul.caution-level-1-bullet
{
	list-style-type: disc;
	list-style-image: none;
	list-style-position: outside;
	background-color: #ffe7d6;
	border-left: 5px solid #ffa666;
	max-width: 90%;
	padding: 0.5em 1em 0.5em 1.5em;
	margin: -0.5em 0 0 0;
}

/*li.caution-level-1-bullet	ul takes care of style. Removed 29/5/2020 But this may be the cause of the square bullets in notes - so keep for a while and check again some time
{
	
}*/


/*Tables*/

table.tableintopic	/* Use to create a table with cells bordered by black lines - Open Table Properties, and in the Generl tab set Table Style = (default) and Style Class = tableintopic. */
{
/*	border: 1px solid #010101;*/
	column-rule: 4px double #100000;
	border-collapse: collapse;
	border-top: 1px solid #010101;
	border-bottom: 1px solid #101010;
}

table.relatedtopics belowtopictext	/*Use to create table enclosing one cell containing See also... information*/
{
	/*border: 1px solid #010101;*/
	border-collapse: collapse;
	margin: 2em;
	border-bottom: 0px solid #00000;
	border-top: 1px solid #010101;
	padding-top: 20px; /*hopefully, this adds some space above the box and pushes the "See also:" down a bit away from body text*/
}

td	/* Used by tableintopic cells. */
{
	padding: 10px;
	/*puts padding around the contents of cells*/
	/*border: 1px solid #010101;*/
	border-bottom: 1px solid #010101;
	column-rule-style: solid;
	column-rule-width: 1px;
	column-rule-color: #010101;
}

th
{
	padding: 10px;
/*	border: 1px solid #010101;*/
	font-weight: bold;
	font-color: #00565b; /*updated Oct 2020 to match pdf*/
	background-color: #E0F2EE;
	border-bottom: 1px solid #010101;
	border-top: 1px solid #101010;
}

.tableheading	/*Only use in KC, so will eventually remove from this style sheet.*/
{
	display: block;
	font-weight: bold;
	font-size: 16px;
	font-color: #00565b; /*updated Oct 2020 to match pdf*/
	padding-left: 3px;
}

.tablebodytext	/*Only use in KC, so will eventually remove from this style sheet.*/
{
	display: block;
	font-size: 16px;
	color: #4D473F;
	margin-top: 1pt;
	margin-bottom: 1pt;
	margin-left: 1pt;
	margin-right: 1pt;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

.tablebodycentred	/*Only use in KC, so will eventually remove from this style sheet.*/
{
	font-size: 16px;
	color: #4D473F;
	margin-left: 1pt;
	margin-right: 1pt;
	padding-bottom: 0.8em;
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
}

.tableheadingcentred	/*Only use in KC, so will eventually remove from this style sheet.*/
{
	display: block;
	font-weight: bold;
	font-size: 16px;
	font-color: #00565b; /*updated Oct 2020 to match pdf*/
	vertical-align: baseline;
	text-transform: none;
	line-height: normal;
	text-align: center;
}

.tablelistcontinue	/*DO NOT USE on new tables. Only use in KC.*/
{
	display: block;
	font-size: 16px;
	color: #4D473F;
	padding-bottom: 0.8em;
}

.tablebodyright-aligned	/*Only use in KC, so will eventually remove from this style sheet.*/
{
	font-size: 16px;
	color: #4D473F;
	margin-top: 1pt;
	margin-bottom: 1pt;
	margin-left: 1pt;
	margin-right: 1pt;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	text-align: right;
	width: auto;
	height: auto;
}

/*Char styles*/

.alertsonly-bold
{
	display: inline;
	font-weight: bold;
	color: inherit;
	/*stops it looking too big compared to the 13px body text*/
}

.boldcharstyle	/*only for options, items, field names*/
{
	display: inline;
	font-weight: bold;
	color: #365d63;
}

.urllink-htmlonly10cm	/*MKH to look at reinstating these and writing up how to use them*/
{
	display: block;
	color: #4D473F;
	margin-top: 6pt;
	margin-bottom: 6pt;
	padding-bottom: 0.8em;
}

.emphasis
{
	display: inline;
	font-style: italic;
	color: inherit;
}

/*.jumptemplate	-2020-09-25 deleted MKH
{
	color: #005d69;
	dark green blue
}*/


.superscript
{
	display: inline;
	font-size: 13px;
	color: inherit;
	background-color: inherit;
	vertical-align: super;
}

p.couriercode
{
	font-family: "Courier New", verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	/*color: #000000;*/
	text-transform: none;
	margin-top: 6pt;
	margin-bottom: 6pt;
	width: auto;
	height: auto;
	white-space: pre;
}

.monospace /*altered to match p.couriercode 8 Oct 2020*/
{
	/*display: inline;*/
	font-family: "Courier New", verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	/*color: inherit;*/
	margin-top: 6pt;
	margin-bottom: 6pt;
	width: auto;
	height: auto;
	white-space: pre;
}

ul.sidenav li.is-accordion-submenu-parent > a span.submenu-toggle-container	/*the square that appears over the oinline toc dropdown when clicked*/
{
	width: 2em;
}



/* .popuponhover-500pxwide
{
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #4D473F;
	background-color: #F7FAFB;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	padding-left: 1.2em;
	padding-right: 1em;
	border-color: #EBF7F9;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #EBF7F9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #EBF7F9;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #EBF7F9;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #EBF7F9;
	float: none;
	clear: none;
	text-align: left;
	text-indent: 0cm;
	width: 500px;
	height: auto;
	white-space: normal;
	position: absolute;
	overflow: hidden;
	z-index: 3;
	text-decoration: none;
}

.expandingblock
{
	display: block;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #4D473F;
	background-color: inherit;
	word-spacing: normal;
	letter-spacing: normal;
	vertical-align: baseline;
	text-transform: none;
	line-height: normal;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	float: none;
	clear: none;
	text-align: left;
	text-indent: 0cm;
	width: auto;
	height: auto;
	white-space: normal;
}
*/

.symbol
{
	display: inline;
	font-family: "Symbol", verdana, arial, helvetica, sans-serif;
	font-size: larger;
}

.qm-code	/*58 uses of this style - what does it do? Consider removing*/
{
	font-family: "Arial", verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #0000FF;
	margin-bottom: 1em;
	margin-left: 15px;
}

.zc-user-interface-name	/*38 uses of this style - what does it do? Consider removing*/
{
	display: inline;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
}

.z-condition	/*6 uses of this style - what does it do? Consider removing*/
{
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #231F20;
	margin-bottom: 0.8em;
}

.zc-variable	/*2 uses of this style - what does it do? Consider removing*/
{
	display: inline;
	font-size: 13px;
}

.partheading	/*1 uses of this style - what does it do? Consider removing*/
{
	font-family: "Arial", verdana, arial, helvetica, sans-serif;
	font-size: 25.6px;
	color: #4D848E;
	margin-right: 20px;
}

.z-result	/*2 uses of this style - what does it do? Consider removing*/
{
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	margin-bottom: 0.8em;
}

/*.monospacebold	107 instances of this. What does it do? Consider removing
{
	display: inline;
	font-family: "Courier New", verdana, arial, helvetica, sans-serif;
}*/

.footnote
{
	font-size: 16px;
	line-height: 1.5;
	color: #4D473F;
	margin-top: 1pt;
	margin-bottom: 1pt;
	margin-left: 1pt;
	margin-right: 1pt;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

.zc-optional-step
{
	display: inline;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #808080;
	background-color: inherit;
}

/* .expandinginline
{
	display: inline;
	color: inherit;
	background-color: #FFFFE1;
	margin-left: 4px;
	margin-right: 4px;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
	padding-right: 0pt;
} */

.relateditemprevious
{
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
	font-size: 16px;
	margin-top: 6pt;
	color: #222222;
}

/*@media Online DONT WANT AN ONLINE MEDIUM ANY MORE 9/5/2020  Find where it is used, and remove eventually.{*/

MadCap|miniTocProxy /*updated 2020-10-08*/
{
	text-align: left;
	color: #012834;
	border-top-width: 1pt;
	border-top-style: solid;
	border-top-length: 100%;
	border-top-color: #cccccc;
	margin-top: 0px;
	width: 100%;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-top: 0px;
	/*background-color: #E0F2EE;*/
	/*mc-auto-number-format: 'Explore...';*/
	/*border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
}

MadCap|breadcrumbsProxy
{
	padding-bottom: 10px;
	mc-breadcrumbs-prefix: ' ';
	mc-breadcrumbs-divider: '   >   ';
	mc-breadcrumbs-count: 3;
	margin-bottom: 10px;
	color: #222222;
	border-bottom: solid;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/*a.jumptemplate deleted from QKC 2020-09-25
{
	color: #005d69;
}*/

/*
a.visited
{
	color: #005d69;
	text-decoration: underline;
}

a.link
{
	color: #005d69;
}

a.active
{
	outline: none 0px #ffffff;
	color: #005d69;
}
*/

/*a general link
{
color: #008466;
}*/

a:link
{
	color: #008466;
	text-decoration: underline;
}

a:visited
{
	color: #26A78A;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	color: #80CBBA;
}

MadCap|xref
{
	color: #008466;
	text-decoration: underline;
	text-decoration: underline;
}

/* Maybe we could delete the one below? Searched for it in the KC project, but I was not able to find where do we use it. Thoughts?*/

/*a.MCBreadcrumbsLink
{
	color: #005d69;
} 
*/

span.field	/*Use for the name of fields*/
{
	font-weight: bold;
	color: #004F5D;
}

/*span.miniTocBoxTitle no idea what this does - was a test
{
	font-weight: bold;
	color: darkblue;
}

div.MCMiniTocBox
{
	mc-auto-number-format: 'Explore...';
	mc-auto-number-class: miniTocBoxTitle;
}*/

/* Jerry Navbar styles FROM WebHelp.css Now in Sttleheet2.css */
/* Reporting Badges—ported from Quantum Stylesheet */

.label
{
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #999;
}

.label
{
	padding: 1px 4px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a.label:hover
{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.label-important
{
	background-color: #cc0a00;
}

.label-important[href]
{
	background-color: #990800;
}

.label-warning
{
	background-color: #f89406;
}

.label-warning[href]
{
	background-color: #c67605;
}

.label-success
{
	background-color: #00b016;
}

.label-success[href]
{
	background-color: #007d10;
}

.label-info
{
	background-color: #0e3aa1;
}

.label-info[href]
{
	background-color: #0a2972;
}

.label-inverse
{
	background-color: #333;
}

.label-inverse[href]
{
	background-color: #1a1a1a;
}

.label-orange
{
	background-color: #ff7512;
}

.label-blue
{
	background-color: #0e3aa1;
}

.label-green
{
	background-color: #8dc63f;
}

.label-purple
{
	background-color: #872b62;
}

.label-red
{
	background-color: #b0232b;
}

p.MiniTOC1 /*updated 2020-10-08*/
{
	color: #012834;
	font-size: 14px;
	font-weight: 200;
	text-decoration: underline;
}

p.MiniTOC1_0 /*updated 2020-10-08. Not sure where this is used?*/
{
	color: #012834;
	font-size: 14px;
	font-weight: 200;
	text-decoration: underline;	
}

@media chm
{
	ul
	{
		margin: 1.12em 0 1.12em 2em;
	}

	ol
	{
		margin: 1.12em 0 1.12em 2em;
	}

	li
	{
		margin-left: 2.2em;
	}

	p.note-level-1-body,
	p.note-level-2-body,
	p.note-level-3-body
	{
		max-width: 100%;
		padding: 0.5em 0 0.5em 0.5em;
		margin: 0 0 0 0;
	}

	ul.note-level-1-bullet,
	ul.note-level-2-bullet,
	ul.note-level-3-bullet
	{
		list-style-type: disc;
		max-width: 100%;
		margin: 0em 0 0.5em 0;
		border: 1px solid #e1fcff;
		border-left: 5px solid #4D848E;
	}

	li.note-nested-bullet
	{
		
	}

	p.caution-level-1-body,
	p.caution-level-2-body,
	p.caution-level-3-body
	{
		max-width: 100%;
		padding: 0.5em 0 0.5em 0.5em;
		margin: 0 0 0 0;
	}

	ul.caution-level-1-bullet,
	ul.caution-level-2-bullet,
	ul.caution-level-3-bullet
	{
		list-style-type: disc;
		max-width: 100%;
		margin: 0em 0 0.5em 0;
		border: 1px solid #ffe7d6;
		border-left: 5px solid #ffa666;
	}

	p.tip-level-1-body,
	p.tip-level-2-body,
	p.tip-level-3-body
	{
		max-width: 100%;
		padding: 0.5em 0 0.5em 0.5em;
		margin: 0 0 0 0;
	}

	ul.tip-level-1-bullet,
	ul.tip-level-2-bullet,
	ul.tip-level-3-bullet
	{
		border: 1px solid #FDFDBE;
		border-left: 5px solid #996c0b;
		list-style-type: disc;
		max-width: 100%;
		margin: 0em 0 0.5em 0;
	}

	/*gives enough margin-left to see bullets and numbers, in ol and ul, for CHM*/
}

/*MKH added to make chm build cleanly*/
