@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	page-break-after: avoid;
	margin-bottom: 12pt;
	font-weight: bold;
	color: #0081A3;
	margin-top: 36pt;
	mc-heading-level: 1;
	font-size: 30pt;
}

h2
{
	page-break-after: avoid;
	font-weight: bold;
	color: #0081A3;
	margin-top: 10pt;
	margin-bottom: 6pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-size: 18pt;
}

h3
{
	page-break-after: avoid;
	font-weight: bold;
	color: #0081A3;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 6pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-size: 14pt;
}

h4
{
	page-break-after: avoid;
	font-weight: bold;
	color: #0081A3;
	margin-top: 10pt;
	margin-bottom: 6pt;
	margin-left: 14pt;
	font-size: 13pt;
	mc-heading-level: 0;
	/*removes from toc*/
}

h5
{
	font-weight: bold;
	font-size: 12.0pt;
	mc-heading-level: 0;
	/*removes from toc*/
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
	mc-heading-level: 0;
	/*removes from toc*/
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
}

ol,
ul,
li
{
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: 12pt;
	font: Arial;
}

p.listnumber
{
	
}

img
{
	mc-thumbnail-max-height: inherit;
	mc-thumbnail-max-width: inherit;
	height: auto;
	max-width: 100%;
	page-break-before: avoid;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

img.Online	/*PDF 100% - for QuantumKC review images*/
{
	max-width: 100%;
	page-break-before: avoid;
	margin-top: 2pt;
}

img.Print100	/*PDF 100% - for wide images*/
{
	max-width: 100%;
	page-break-before: avoid;
	margin-top: 2pt;
}

img.Print80	/*PDF 80% page width. Copes with being in lists*/
{
	max-width: 60%;
	page-break-before: avoid;
	margin-top: 2pt;
}

img.Print60	/*Use for small dialog boxes in PDF*/
{
	page-break-before: avoid;
	margin-top: 2pt;
	max-width: 60%;
}

p.QMCode
{
	color: blue;
	margin-left: 17pt;
}

MadCap|miniTocProxy.PDF
{
	margin-bottom: 50px;
	margin-right: 120px;
}

/*<meta sourceDocument="C:\Users\E5573863\Desktop\Module_Descriptions.docx" />*/
/*removed arial form all; */

p
{
	font-family: Arial;
	font-size: 12pt;
	margin-top: 0px;
	orphans: 3;
	widows: 3;
	margin-bottom: 6px;
}

p.couriercode
{
	font-family: "Lucida Console", Courier, monospace;
	margin-left: 0.5cm;
}

td
{
	font-family: Arial;
	font-size: 12pt;
}

p.FISFooterTextLeft
{
	font-size: 9pt;
	margin-top: 0.3cm;
	margin-left: 0.3cm;
	color: #8a8a8d;
}

img.FISFooter
{
  margin-left: auto;
  /*margin-right: auto;*/
  width: 2.8cm;
}

p.FISFooterTextRight
{
	color: #8a8a8d;
	text-align: right;
	font-size: 9pt;
	margin-right: 1.8cm;
	margin-top: 0.3cm;
}

p.FISHeaderTextRight
{
	color: #ffffff;
	font-weight: bold;
	text-align: right;
	margin-right: 1.8cm;
	margin-top: 0.5cm;
}

p.FISHeaderTextLeft
{
	color: ffffff;
	font-weight: bold;
	text-align: left;
	margin-left: 1.8cm;
	margin-top: 0.5cm;
}

p.SuperTitle
{
	margin-left: 9pt;
	color: #FFFFFF;
	font-size: 1pt;
}

p.Title
{
	margin-bottom: 15pt;
	color: #004E59;
	font-size: 16pt;
}

p.Version
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #FFFFFF;
	letter-spacing: 1pt;
	font-size: 21pt;
}

p.Byline
{
	margin-bottom: 12pt;
	color: #8DC63F;
	font-size: 14pt;
}

p.PrefaceHeadingOnly
{
	page-break-after: avoid;
	margin-bottom: 6pt;
	font-weight: bold;
	color: #0081A3;
	margin-top: 36pt;
	font-size: 30pt;
	page-break-before: always;
	mc-heading-level: 0;
}

p.PrefaceHeadings
{
	font-weight: bold;
	font-size: 10pt;
	margine-bottom: 6pt;
}

p.BodyText
{
	margin-bottom: 6px;
}

p.BreakNesting
{
	orphans: 2;
	widows: 2;
	font-family: Tahoma;
	color: #808040;
	font-size: 3pt;
}

p.TOCTitle	/*I think the Contents page now uses the PrefaceHeadingOnly heading, which doesn't show in TOC*/
{
	page-break-after: avoid;
	color: #0081A3;
	margin-top: 12pt;
	margin-bottom: 6pt;
	font-weight: normal;
	font-size: 18pt;
}

p.TOC1
{
	margin-top: 9pt;
	margin-bottom: 9pt;
	font-size: 12pt;
	font-weight: bold;
	margin-right: 0;
}

p.TOC2	/*charcoal grey*/
{
	margin-top: 0pt;
	margin-bottom: 6pt;
	margin-left: 14pt;
	color: #595959;
	font-size: 12pt;
}

p.TOC3
{
	margin-top: 0pt;
	margin-bottom: 6pt;
	margin-left: 28pt;
	color: #595959;
	font-size: 11pt;
}

p.SuperHeading
{
	margin-top: 12pt;
	font-variant: small-caps;
	letter-spacing: 4pt;
	font-size: 14pt;
}

/*h1.Heading1
{
	page-break-after: avoid;
	margin-bottom: 12pt;
	font-weight: bold;
	color: #0081A3;
	margin-top: 36pt;
	mc-heading-level: 1;
	font-size: 30pt;
}
*/

p.note-level-1-body
{
	page-break-inside: avoid;
	background-color: #E6E6E6;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-top: 6px;
	border-top-style: solid;
	border-width: 1px;
}

span.Buttons
{
	font-weight: bold;
}

p.ListBullet
{
	margin-bottom: 3pt;
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 17pt;
}

li.ListBullet
{
	margin-bottom: 3pt;
}

p.listnumber	/*used in DB install*/
{
	margin-bottom: 3pt;
	padding-left: 0px;
	list-style-type: number;
	margin-left: 17pt;
}

li.listnumber	/*used in DB install*/
{
	margin-bottom: 3pt;
}

p.MiniTOCTitle
{
	page-break-after: avoid;
	font-weight: bold;
	font-size: 16pt;
	background-color: #004F59;
	margin-top: 6pt;
	margin-bottom: 3pt;
	color: #FFFFFF;
}

p.MiniTOCItem
{
	font-size: 10pt;
	text-indent: 18pt;
	background-color: #CCCCCC;
	color: #595959;
}

MadCap|xref.PageNumberOnly
{
	mc-format: '{page}';
}

/*p.AllowPageBreak Remove mid 2020
{
	orphans: 2;
	widows: 2;
	font-family: 'Times New Roman';
	font-size: 15pt;
	color: blue;
}*/

/*h2.Heading2
{
	page-break-after: avoid;
	font-weight: bold;
	color: #0081A3;
	margin-top: 10pt;
	margin-bottom: 6pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-size: 18pt;
}
*/

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 17pt;
}

/*td.td_1
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	padding-left: 3pt;
	padding-right: 3pt;
}*/

table.table_1
{
	border-collapse: collapse;
}

/*p.BodyText_1 Remove mid 2020
{
	margin-bottom: 6pt;
	font-size: 10pt;
	page-break-after: avoid;
}

img.img_1
{
	display: block;
	margin-left: 0px;
	width: 80%;
}

img.img_2
{
	display: block;
	margin-left: 0px;
	width: 50%;
}*/

span.Emphasis
{
	font-style: italic;
}

p.TableHeading
{
	page-break-after: avoid;
	margin-bottom: 12pt;
	font-weight: bold;
	color: #0081A3;
	page-break-inside: avoid;
	margin-top: 12pt;
	font-size: 10pt;
}

p.TableHeadingCentred
{
	page-break-after: avoid;
	margin-bottom: 12pt;
	font-weight: bold;
	color: #0081A3;
	page-break-inside: avoid;
	margin-top: 12pt;
	font-size: 10pt;
	text-align: center;
}

p.TableBodyText
{
	font-size: 10pt;
	orphans: 2;
	widows: 2;
	margin-bottom: 3pt;
}

p.TableBodyCentred
{
	orphans: 2;
	widows: 2;
	margin-top: 3pt;
	margin-bottom: 3pt;
	text-align: center;
}

p.note-level-1-bullet	/*why does this exist?*/
{
	page-break-inside: avoid;
	background-color: #E6E6E6;
	margin-top: 0pt;
	margin-bottom: 6pt;
	padding-bottom: 6px;
	padding-top: 6px;
}

li.note-level-1-bullet
{
	page-break-inside: avoid;
	background-color: #E6E6E6;
	margin-top: 0pt;
	margin-bottom: 6pt;
	border-style: none;
}

li.note-level-1-body
{
	page-break-inside: avoid;
	background-color: #E6E6E6;
	margin-top: 0pt;
	margin-bottom: 6pt;
}

p.TableBodyRight-aligned
{
	font-size: 10pt;
	orphans: 2;
	widows: 2;
	margin-bottom: 3pt;
	text-align: right;
}

p.tip-level-1-body
{
	page-break-inside: avoid;
	margin-top: 6pt;
	background-color: #E5E5E5;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top-style: solid;
	border-width: 1px;
}

p.tip-level-1-bullet	/*why does this exist?*/
{
	page-break-inside: avoid;
	margin-top: 6pt;
	background-color: #E5E5E5;
	padding-bottom: 6px;
	padding-top: 6px;
}

li.tip-level-1-bullet
{
	page-break-inside: avoid;
	margin-top: 6pt;
	background-color: #E5E5E5;
	border-style: none;
}

li.tip-level-1-body
{
	page-break-inside: avoid;
	margin-top: 6pt;
	background-color: #E5E5E5;
}

p.H4Internal
{
	font-weight: bold;
	margin-top: 10pt;
	margin-bottom: 6pt;
	color: black;
	page-break-inside: avoid;
}

/*td.td_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	background-color: #C0C0C0;
	padding-top: 0pt;
	padding-left: 3pt;
	padding-bottom: 0pt;
	padding-right: 3pt;
}*/

ul.ul_2
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 42pt;
}

div.div_1
{
	background-color: #E6E6E6;
}

/*tr.tr_1
{
	height: 38pt;
}*/

ul.ul_3
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 121pt;
}

div.div_2
{
	background-color: #E5E5E5;
}

p.TableListBullet
{
	font-size: 10pt;
	margin-bottom: 3pt;
}

li.TableListBullet
{
	font-size: 10pt;
	margin-bottom: 3pt;
}

p.writerscomm
{
	color: #F79646;
	Display: none;
}

span.HotSpot
{
	font-style: italic;
	color: black;
	font-size: 10pt;
	text-decoration: none;
}

p.TableNote
{
	page-break-inside: avoid;
	background-color: #E6E6E6;
	margin-top: 6pt;
}

/*h3.Heading3
{
	page-break-after: avoid;
	font-weight: bold;
	color: #0081A3;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 6pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-size: 14pt;
}
*/

p.URLLink-WordOnly10cm
{
	font-size: 10pt;
	text-decoration: none;
}

a.Hyperlink
{
	color: #0563C1;
	text-decoration: underline;
}

span.Hyperlink
{
	color: #0563C1;
	text-decoration: underline;
}

/*col.col_1
{
	width: 342pt;
}*/

/*th.th_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	background-color: #C0C0C0;
	padding-top: 0pt;
	padding-left: 3pt;
	padding-bottom: 0pt;
	padding-right: 3pt;
}*/

ul.ul_4
{
	padding-left: 0px;
	list-style-type: square;
	margin-left: 14pt;
}

/*p.p_1 Remove mid 2020
{
	font-size: 1pt;
}*/

/*p.FIS_C_Back
{
	font-color: inherit;
	text-align: right;
	color: #8A8A8D;
	font-size: 9pt;
}*/

p.reuse
{
	font-size: 10pt;
	margin-top: 0pt;
	color: #8DC63F;
	font-weight: bold;
}

p.InThisChapter
{
	margin-bottom: 6pt;
	font-weight: bold;
	font-size: 14pt;
}

/*h4.Heading4
{
	page-break-after: avoid;
	font-weight: bold;
	color: #0081A3;
	margin-top: 10pt;
	margin-bottom: 6pt;
	font-size: 13pt;
	mc-heading-level: 0;
}*/

/*<meta sourceDocument="C:\Users\E5573863\Desktop\QXTFormatting.docx" />*/

/*p.URLLink-WordOnly10cm_1 Remove mid 2020
{
	font-size: 10pt;
	color: black;
	text-decoration: none;
}

span.span_1
{
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10pt;
	margin-left: 1.5cm;
}

span.span_2
{
	color: #FFFFFF;
	font-size: 10pt;
}

span.span_3
{
	font-size: 10pt;
}

p.p_3
{
	margin-top: 12pt;
}

p.p_4
{
	margin-top: 12pt;
	text-align: right;
}

p.p_5
{
	margin-left: 5pt;
	margin-right: 5pt;
	margin-top: 12pt;
}

span.span_4
{
	font-family: Calibri;
	color: #8A8A8D;
	font-size: 7pt;
}*/

/*p.p_2 Remove mid 2020
{
	font-size: 10pt;
	margin-bottom: 6pt;
}*/

span.Monospace
{
	font-size: 10pt;
}

p.BodyTextIndent
{
	margin-left: 17pt;
}

p.note-level-2-body
{
	page-break-inside: avoid;
	background-color: #E6E6E6;
	margin-left: 18pt;
	margin-bottom: 3pt;
	padding-bottom: 6px;
	padding-top: 6px;
}

p.note-level-2-bullet
{
	page-break-inside: avoid;
	background-color: #E6E6E6;
	margin-bottom: 3pt;
	padding-top: 6px;
	padding-bottom: 6px;
}

li.note-level-2-bullet
{
	page-break-inside: avoid;
	background-color: #E6E6E6;
	margin-bottom: 3pt;
}

p.tip-level-2-body
{
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-left: 18px;
	background-color: #e6e6e6;
	padding-bottom: 6px;
	padding-top: 6px;
}

p.PrefaceTextOnly
{
	color: #000000;
	font-size: 9pt;
	margin-bottom: 6pt;
}

p.caution-level-1-body
{
	background: #e6e6e6;
	border-top-style: solid;
	border-width: 1px;
}

li.caution-level-1-bullet
{
	page-break-inside: avoid;
	background-color: #E6E6E6;
	margin-bottom: 3pt;
	border-style: none;
}

p.Redacted
{
	color: #b22222;
	background: #fa8072;
}

p.procedureheading/*same as online */
{
	font-family: "Arial", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 17.5333px;
	color: #004F5D;
	margin-top: 0.9em;
	margin-bottom: 0.4em;
}

p.HeadingProcedure	/*redact this style*/
{
	background-color: red;
}

li.HeadingProcedure/*don't use for long - better to use a p style and .procedureheading class*/
{
	list-style-image: url('../images/ProcArrow.PNG');
	color: #0081A3;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 3pt;
}

MadCap|miniTocProxy
{
	margin-top: 10pt;
	padding-top: 10pt;
	mc-toc-depth: 3;
	margin: 1.12em 0;
	padding-left: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-right: 120pt;
	margin-bottom: 30pt;
}

p.MiniTOC1
{
	margin: 0;
}

MadCap|tocProxy
{
	border-top-color: #595959;
	margin-right: 40px;
}

p.TOC4
{
	mc-hidden: unhidden;
	margin-left: 42pt;
}
